{% extends 'blog/base.html' %}
{% load static %}

{% block  title%}
Acerca de - Blog
{% endblock  %}

{% block  contenidoPagina%}
<title>TecnologiBLOG</title>

<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Creadores del TecnologiBLOG...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid mb-3" src="\static\assets\" alt="..." width="200" height="200" />
                    <h5>Ariel Perez</h5>
                    <p class="font-weight-light mb-0">"Aca el speech"</p>
                </div>
            </div> 
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid mb-3" src="\static\assets\Andres.jpeg" alt="..." width="200" height="200" />
                    <h5>Andres Barcia</h5>
                    <p class="font-weight-light mb-0">"Hola, mi nombre es Andrés, tengo 27 años y soy estudiante de ciencias económicas. 
                        Trabajo hace varios años como analista de datos, hoy por hoy más orientado al desarrollo de Dashboards y soluciones de automatización de procesos y bajada de datos. 
                        Les cuento que me fui interesando en el mundo de la programación hace un año y poco, viendo algo en principio de SQL, ahora aprendiendo Python siendo la idea llegar a trabajar más sobre proyectos de machine learning.
                        "</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid  mb-3" src="\static\assets\E00_2347_reduced.jpg" alt="..." width="200" height="200" />
                    <h5>Ariel Botti</h5>
                    <p class="font-weight-light mb-0">"Los últimos 20 años desarrollé mi carrera profesional en la rama aeronautica estudiando para piloto e ingenieria aeronautica.
                        Actualmente me encuentro volcando mi vida profesional a un amor previo a la aviación que es la programación. Desde el año 2020 estoy estudiando Data Science y desarrollo de Software."</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}