{% extends 'blog/base.html' %}
{% load static %}

{% block  title%}
Agregar Comentarios
{% endblock  %}

{% block  contenidoPagina%}

<h1>Agregar Comentario...</h1>

<div class="container px-5" >
    <div class="row">
    <form action="" method="POST" class="row g-3">
        {% csrf_token %}
        
        <div class="col-md-12">
            <input type="text" class="form-control" name="name" placeholder="Nombre">
        </div>
        <div class="col-md-12">
            <textarea name="text" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div>
        <button class="btn btn-primary">Agregar Comentario</button>
        </div>
    </form><br>
    </div>

</div>


{% endblock %}

{{ form.as_p }}