{% extends 'blog/base.html' %}
{% load static %}

{% block  title%}
Cambiar Password
{% endblock %}

{% block contenidoPagina %}

<section class="bg-light py-5">
    <div class="container px-5">
        <h1>Cambiar Clave</h1>
        <form action="" method="post" class="row g-3">
            {% csrf_token %}
            {{form.as_p}}
            
            <div>
                <button type="submit" class="btn btn-outline-primary">Guardar</button>
            </div>  
        </form>
        
        <br>
        
    </div>
    
</section>
{% endblock %}