{% extends 'blog/base.html' %}
{% load static %}

{% block  title%}
    Curiosidades
{% endblock  %}

{% block  contenidoPagina%}

<!-- Page Content-->
<form class="input-group w-50 " action="" method="post">{% csrf_token %}
    <input type="search" name="search" class="form-control" placeholder="Buscar por titulo o contenido" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
    {% if user.is_authenticated %}
    <a class="btn btn-outline-info" href="{% url 'nuevo_articulo' %}">Nuevo articulo</a>
    {% endif %}
</form>
<h4>
    {% if search %}
        Resultados de "{{busqueda}}":
    {% endif %}
</h4>
{% for post in curiosidades %}
{% if post.category == "Curiosidades" %}
<div class="card mb-3 w-50">
    <div class="row g-0">
        <div class="col-md-4">
            {% if post.image  %}
                <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="...">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <span class="">{{post.category}}</span>
                <h5 class="card-title">{{post.title}}</h5>
                <h6 class="card-subtitle ">{{post.subtitle}}</h6>
                <p class="card-text text-truncate">{{post.body}}</p>
                <p class="card-text"><small class="text-muted"> Creado por {{user.first_name}} {{user.last_name}}</small></p>
                <p class="card-text"><small class="text-muted"> {{post.created_at}}</small></p>
                <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Ver mas</a>
                <a href="{% url 'article_edit' post.id %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'article_delete' post.id %}" class="btn btn-outline-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>
{% endif%}
{% endfor %}

{% endblock %}