{% extends 'blog/base.html' %}
{% load static %}

{% block  tituloPagina%}
Curiosidades - Blog
{% endblock  %}

{% block  contenidoPagina%}
<!-- Page Content-->
{% for curiosidad in curiosidades %}
<div class="card w-50">
    <div class="card-body">
        <h5 class="card-title">{{curiosidad.title}}</h5>
        <p class="card-text">{{curiosidad.content}}</p>
        <a href="#" class="btn btn-primary">Ver mas</a>
    </div>
</div>
{% endfor %}
<a href="../nueva_publicacion" class="btn btn-outline-primary">Nueva publicacion</a>

{% endblock %}