{% extends 'blog/base.html' %}
{% load static %}

{% block  title%}
Detalle de Posteo
{% endblock  %}

{% block  contenidoPagina%}

<div class="container">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col">
            <div class="card"><br>
                {% if article.image  %}
                    <a href=""><img class="img-fluid img-thumbnail" src="{{article.image.url}}"/></a>
                {% endif %}
                
                <div class="card-body">
                    
                    <h2 class="card-title h4">{{article.title}}</h2>
                    <p class="card-text">{{article.body}}</p>
                    <div class="small text-muted">Creado por: {{article.author.first_name}} {{article.author.last_name}}</div>
                    <div class="small text-muted">{{article.created_at}}</div><br>
                    <form action="{% url 'like_post' article.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" name="post_id" value="{{article.id}}" class="btn btn-primary btn-sm">Like</button> - {{total_likes}} Likes!
                    </form>
                    <br><hr>
                    <h3>Comentarios</h3><br>

                    {% if not article.comments.all %}
                        Sin comentarios aun ..  <a href="{% url 'agregar_comentario' article.pk %}">Agregar</a>
                    {% else %}
                        <a href="{% url 'agregar_comentario' article.pk %}">Agregar Comentario</a><br><br>
                        {% for comment in article.comments.all %}
                            <strong>{{ comment.name }} - {{ comment.created_at }}</strong><br>
                            {{ comment.text }} <br><br>
                
                        {% endfor %}
                        <hr>
                    {% endif %}
                    


                </div>
                
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}