{% extends 'blog/base.html' %}
{% load static %}

{% block  title%}
Login
{% endblock %}

{% block contenidoPagina %}

<section class="bg-light py-5">
    <div class="container px-5">
        <h1>Iniciar Sesión</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            
            <button type="submit" class="btn btn-outline-primary">Iniciar Sesión</button><br>
            <br>
            No es Usuario?, Registrese <a href="{% url 'register' %}">aqui!</a>

        </form>
    </div>
</section>
{% endblock %}

