{% extends 'blog/base.html' %}
{% load static %}

{% block  title%}
Register
{% endblock %}

{% block contenidoPagina %}

<section class="bg-light py-5">
    <div class="container px-5">
        <h1>Registrate</h1>
        <form action="" method="post" class="row g-3">
            {% csrf_token %}
            
            <div class="col-md-6">
                <input type="text" class="form-control" name="username" placeholder="Usuario">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="col-12">
                <input type="password" class="form-control" placeholder="Contraseña" name="password1">
            </div>
            <div class="col-12">
                <input type="password" class="form-control" placeholder="Confirmar contraseña" name="password2">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" name="first_name" placeholder="Nombre/s">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" name="last_name" placeholder="Apellido/s">
            </div>
            <div>
                <button type="submit" class="btn btn-outline-primary">Registrarme</button>
            </div>  
        </form>
        
        <br>
        Ya es Usuario?, Ingrese <a href="{% url 'login' %}">aqui!</a>
    </div>
    
</section>
{% endblock %}