{% extends 'blog/base.html' %}
{% load static %}

{% block  title%}
Register - TecnologiBLOG
{% endblock %}

{% block contenidoPagina %}

<section class="bg-light py-5">
    <div class="container px-5">
        <h1>Registrate</h1>
        <form action="" method="post" class="row g-3">
            {% csrf_token %}
            
            <div class="col-md-6">
                <input type="text" class="form-control" name="username" placeholder="username">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" name="email" placeholder="email">
            </div>
            <div class="col-12">
                <input type="password" class="form-control" placeholder="password" name="password1">
            </div>
            <div class="col-12">
                <input type="password" class="form-control" placeholder="confirmar password" name="password2">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" name="first_name" placeholder="nombre">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" name="last_name" placeholder="apellido">
            </div>
            <div>
                <button type="submit" class="btn btn-outline-primary">Registrar</button>
            </div>  
        </form>
        
        <br>
        Ya es Usuario?, Ingrese <a href="{% url 'login' %}">aqui!</a>
    </div>
    
</section>
{% endblock %}