{% extends 'blog/base.html' %}
{% load static %}

{% block  tituloPagina%}
Software - Blog
{% endblock  %}

{% block  contenidoPagina%}
<title>Software</title>

<!-- Page Content-->
<form class="input-group w-50 " action="" method="post">{% csrf_token %}
    <input type="search" name="search" class="form-control" placeholder="Buscar por titulo o contenido" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
    {% if user.is_authenticated %}
    <a class="btn btn-outline-info" href="{% url 'nuevo_articulo' %}">Nuevo articulo</a>
    {% endif %}
</form>
<h4>
    {% if search %}
        Resultados de "{{busqueda}}":
    {% endif %}
</h4>
{% endblock %}
